<header>
  <div class="container-fluid">
    <div class="row-fluid">
      <nav class="main-nav clearfix">
        <%= '<%=' %> Zerp::Core::Navigation.render %>
      </nav>
    </div>
  </div>
</header>